---
- name: Reboot host
  shell: "sleep 6 && reboot"
  async: 1
  poll: 0

- name: Wait for reboot...
  wait_for_connection:
    connect_timeout: 20
    sleep: 6
    delay: 6
    timeout: 300
    register: reboot_ok
